[Unit]
Description=First Login Setup Service
After=default.target
ConditionPathExists=!%h/.config/first-login-setup.done

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak install -y flathub com.spotify.Client
ExecStart=/usr/bin/flatpak install -y flathub org.mozilla.firefox
ExecStart=/usr/bin/touch %h/.config/first-login-setup.done
RemainAfterExit=true

[Install]
WantedBy=default.target
