[Unit]
Description=Flatpak Autoupdate Service

[Service]
Type=simple
ExecStart=/usr/bin/flatpak update -y
Restart=always
RestartSec=6h

[Install]
WantedBy=default.target
